%div.modal-dialog#modal-lista-repostas{:role =>'document'}
	.modal-content
		.modal-header
			%h4.modal-title
				- if @team.nome == ""
					Nova Equipe
				- else
					Editar - 
					= @team.nome
		= simple_form_for @team do |f|
			.modal-body
				.form-group
					= f.input :nome, required:true
					.help-block 
						Escolha um nome creativo Ex: 
						%i Millennium Falcon, Team Captain America e etc...
					= f.association :responsible, label_method: :email, label: "Responsavel", required:true
					= f.association :members, as: :check_boxes,label_method: :email, label: "Membros", required:true
			.modal-footer
				%button.btn.btn-primary.btn-sm
					= link_to 'Voltar', teams_path, {id: 'btn-link-to'}
				= f.submit 'Savar', {class: 'btn btn-success btn-sm'}