%p#notice= notice

.panel.panel-default.center-block#painelEquipe
	.panel-heading
		.row
			.col-md-7
				%h3.panel-title= @team.nome
			.col-md-5.pull-right 
				%button.btn.btn-primary.btn-xs
					= fa_icon "undo"
					= link_to 'Voltar', teams_path, {id: 'btn-link-to'}
				%button.btn.btn-primary.btn-xs
					= glyph(:pencil)
					= link_to 'Editar', edit_team_path(@team), {id: 'btn-link-to'}
	.panel-body
		.row
			.col-md-12
				%b Responsável da Equipe
				%br
				= @team.responsible.email
				%br
				%hr
				%b Membros da Equipe
				- @team.members.each do |m|
					%li= m.email
						 
