%canvas#pontos
%div.modal-dialog#modallogin{:role =>'document'}
	.modal-content
		.modal-header
			%h4.modal-title Logar
		= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
			.modal-body
				%table#tabelalogin
					%tr
						%td Email:
						%td 
							= f.email_field :email, autofocus: true
					%tr
						%td Senha:
						%td 
							= f.password_field :password, autocomplete: "off"
				= f.input :remember_me, as: :boolean if devise_mapping.rememberable?
			.modal-footer
				%button.btn.btn-success
					#btn-link-to
					= link_to 'Cadastrar', new_user_registration_path, {id: 'btn-link-to'}
				%button.btn.btn-info
					Logar
					- f.submit
