<!DOCTYPE html>
<html>
<head>
  <title>Dailys</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<%= nav_bar fixed: :top, brand: "Dailys", responsive: true do %>
	  <%= menu_group do %>
	        
	  <% end %>
	  <%= menu_group pull: :right do %>
	  	<% if user_signed_in? %>
        <li class=""><a><%= current_user.email %></a></li>
        <li class=""><%= link_to "Sair", destroy_user_session_path, method: :delete  %></li>
      <% end %>  
	  <% end %>
	<% end %>
	
	<div class="corpo">
		<%= yield %>
	</div>s

</body>
